/* === General Layout === */
html {
    height: 80vh;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f2f5;
    height: 100%;
  }
  
  .container-wrapper {
    height: 100%;
    box-sizing: border-box;
  }
  
  .container {
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
    padding: 5px;
  }
  
  .hidden {
    display: none;
  }
  
  
